<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/registration.css" />
    <link rel="stylesheet" href="css/dashboard.css" />
    <link rel="stylesheet" href="css/header.css" />
    
</head>
<body>
    <header>
        <div id="header_nav">
            <h2><a class="header_text_title" href="#">Dashboard</a></h2>
            <li id="header_list">
                
            </li>
        </div>
    </header>
    <div id="glob" class="dashboard_glob">

        <div id="widget_menu">
            <div id="widget_list_title">
                <p>Vos widgets</p>
            </div>
            <div id="widget_list">
                <ul id="sortable">
                    <div id="widg_mete"></div>
                    <div id="widg_steam01"></div>
                    <div id="widg_steam02"></div>
                    <div id="widg_twitch01"></div>
                    <div id="widg_twitch02"></div>
                    <div id="widg_crypto"></div>
                    <div id="widg_youtube01"></div>
                    <div id="widg_youtube02"></div>
                    <div id="widg_youtube03"></div>
                </ul>
            </div>
            <div id="widget_list_button">
                <button id="WidgetButton" onclick="trigger_widget_modal()" class="service_button">Widget</button>
            </div>
        </div>

        <div id="widget_div">
            <div id="more_data_service">
                <button id="ServiceButton" class="service_button add_service_button">Mes services</button>
            </div>
            <div id="widget_result">
            </div>
        </div>

        <div id="ServiceModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <p id="global_title">Sélectionner vos services !</p>
                </div>
                <div class="modal-body">
                    <div class="services-global">
                        <div id="service_container">
                            <div class="services" id="meteo_service"><i class="fas fa-sun"></i>Météo<input id="meteo_checkbox" name="meteo_check" type="checkbox"><span onclick="display_meteo()" id="checkmark_meteo" class="checkmark"></span></div>
                            <div class="services" id="steam_service"><i class="fab fa-steam"></i>Steam<input id="steam_checkbox" name="steam_check" type="checkbox"><span onclick="display_steam()" id="checkmark_steam" class="checkmark"></span></div>
                            <div class="services" id="twitch_service"><i class="fab fa-twitch"></i>Twitch<input id="twitch_checkbox" name="twitch_check" type="checkbox"><span onclick="display_twitch()" id="checkmark_twitch" class="checkmark"></span></div>
                            <div class="services" id="crypto_service"><i class="fab fa-bitcoin"></i>Crypto<input id="crypto_checkbox" name="crypto_check" type="checkbox"><span onclick="display_crypto()" id="checkmark_crypto" class="checkmark"></span></div>
                            <div class="services" id="youtube_service"><i class="fab fa-youtube"></i>Youtube<input id="youtube_checkbox" name="youtube_check" type="checkbox"><span onclick="display_youtube()" id="checkmark_youtube" class="checkmark"></span></div>
                        </div>
                        <div id="service_intel_wrap">
                            <div class="service_intel" id="meteo_intel"><p class="widget_intel"><i class="fas fa-caret-right"></i>&nbsp;&nbsp;&nbsp;Service météo</p><p class="widget_description">Affiche la météo d'une ville</p></div>
                            <div class="service_intel" id="steam_intel"><p class="widget_intel"><i class="fas fa-caret-right"></i>&nbsp;&nbsp;&nbsp;Service Steam</p><p class="widget_description">Affiche des informations sur un jeu Steam<br/><br/>Affiche la liste d'ami d'un utilisateur</p></div>
                            <div class="service_intel" id="twitch_intel"><p class="widget_intel"><i class="fas fa-caret-right"></i>&nbsp;&nbsp;&nbsp;Service Twitch</p><p class="widget_description">Affiche des informations sur une chaîne Twitch<br/><br/>Affiche des informations sur un jeu</p></div>
                            <div class="service_intel" id="crypto_intel"><p class="widget_intel"><i class="fas fa-caret-right"></i>&nbsp;&nbsp;&nbsp;Service Crypto</p><p class="widget_description">Permet de convertir des crypto monnaies</p></div>
                            <div class="service_intel" id="youtube_intel"><p class="widget_intel"><i class="fas fa-caret-right"></i>&nbsp;&nbsp;&nbsp;Service Youtube</p><p class="widget_description">Affiche des informations sur une chaînes Youtube<br /><br />Affiche des informations sur un Youtuber<br /><br />Affiche x commentaires sur une vidéo</p></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="ServiceButtonValide" class="CloseServiceModal service_button">Validez</button>
                </div>
            </div>
        </div>  
        <div id="WidgetModal" class="modal">
            <div class="modal-content_widget">
                <div class="modal-header">
                    <p id="global_title">Sélectionner un widget !</p>
                </div>
                <div class="modal-body">
                    <div class="services-global">
                        <div id="widget_container">
                            <div id="meteo_widget_modal">
                            </div>
                            <div id="steam_widget_modal">
                            </div>
                            <div id="twitch_widget_modal">                                        
                            </div>
                            <div id="crypto_widget_modal">
                            </div>
                            <div id="youtube_widget_modal">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="CloseWidgetModal service_button">Validez</button>
                </div>
            </div>
        </div>

        <div id="reconfig_meteo" class="modal">
            <div class="modal-content_widget">
                <div class="modal-header">
                    <p id="global_title">Modification Météo</p>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <input id="reconfig_name_meteo" type="text" placeholder="Nom du widget" />
                        </div>
                        <div class="form-group">
                            <input id="reconfig_ville_meteo" type="text" placeholder="Ville" />
                        </div>
                        <div class="form-group">
                            <input type="number" id="reconfig_timer_meteo" placeholder="Timer" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="CloseReconfigMeteoModalCancel link_button">Annulez</button>
                    <button class="CloseReconfigMeteoModalValidate link_button">Validez</button>
                    <button class="CloseReconfigMeteoModalDelete link_button">Supprimer</button>
                </div>
            </div>
        </div>


        <div id="reconfig_steam01" class="modal">
            <div class="modal-content_widget">
                <div class="modal-header">
                    <p id="global_title">Modification Steam 1</p>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <input id="reconfig_name_steam01 type="text" placeholder="Nom du widget" />
                        </div>
                        <div class="form-group">
                            <input id="reconfig_steam_id01" type="text" placeholder="Steam ID" />
                        </div>
                        <div class="form-group">
                            <input type="number" id="reconfig_timer_steam01" placeholder="Timer" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="CloseReconfigSteam01Cancel link_button">Annulez</button>
                    <button class="CloseReconfigSteam01Validate link_button">Validez</button>
                    <button class="CloseReconfigSteam01Delete link_button">Supprimer</button>
                </div>
            </div>
        </div>

        <div id="reconfig_steam02" class="modal">
            <div class="modal-content_widget">
                <div class="modal-header">
                    <p id="global_title">Modification Steam 2</p>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <input id="reconfig_name_steam02" type="text" placeholder="Nom du widget" />
                        </div>
                        <div class="form-group">
                            <input id="reconfig_steam_id02" type="text" placeholder="Steam ID" />
                        </div>
                        <div class="form-group">
                            <input type="number" id="reconfig_timer_steam02" placeholder="Timer" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="CloseReconfigSteam02Cancel link_button">Annulez</button>
                    <button class="CloseReconfigSteam02Validate link_button">Validez</button>
                    <button class="CloseReconfigSteam02Delete link_button">Supprimer</button>
                </div>
            </div>
        </div>

        <div id="reconfig_twitch01" class="modal">
            <div class="modal-content_widget">
                <div class="modal-header">
                    <p id="global_title">Modification Twitch 1</p>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <input id="reconfig_name_twitch01" type="text" placeholder="Nom du widget" />
                        </div>
                        <div class="form-group">
                            <input id="reconfig_twitch_streamer" type="text" placeholder="Chaine Twitch" />
                        </div>
                        <div class="form-group">
                            <input type="number" id="reconfig_timer_twitch01" placeholder="Timer" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="CloseReconfigTwitch01Cancel link_button">Annulez</button>
                    <button class="CloseReconfigTwitch01Validate link_button">Validez</button>
                    <button class="CloseReconfigTwitch01Delete link_button">Supprimer</button>
                </div>
            </div>
        </div>

        <div id="reconfig_twitch02" class="modal">
            <div class="modal-content_widget">
                <div class="modal-header">
                    <p id="global_title">Modification Twitch 2</p>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <input id="reconfig_name_twitch02" type="text" placeholder="Nom du widget" />
                        </div>
                        <div class="form-group">
                            <input id="reconfig_twitch_game" type="text" placeholder="Jeu Twitch" />
                        </div>
                        <div class="form-group">
                            <input type="number" id="reconfig_timer_twitch02" placeholder="Timer" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="CloseReconfigTwitch02Cancel link_button">Annulez</button>
                    <button class="CloseReconfigTwitch02Validate link_button">Validez</button>
                    <button class="CloseReconfigTwitch02Delete link_button">Supprimer</button>
                </div>
            </div>
        </div>


        <div id="reconfig_crypto" class="modal">
            <div class="modal-content_widget">
                <div class="modal-header">
                    <p id="global_title">Configuration Crypto</p>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group lol">
                            <input id="reconfig_name_crypto" type="text" placeholder="Nom du widget" />
                        </div>
                        <div class="form-group">
                            <input id="reconfig_crypto_initial" type="text" placeholder="Monnaie à convertir" />
                        </div>
                        <div class="form-group">
                            <input id="reconfig_crypto_final" type="text" placeholder="Converti en" />
                        </div>
                        <div class="form-group">
                            <input type="number" id="reconfig_timer_crypto" placeholder="Timer" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="CloseReconfigCryptoCancel link_button">Annulez</button>
                    <button class="CloseReconfigCryptoValidate link_button">Validez</button>
                    <button class="CloseReconfigCryptoDelete link_button">Supprimer</button>
                </div>
            </div>
        </div>


        <div id="reconfig_youtube01" class="modal">
            <div class="modal-content_widget">
                <div class="modal-header">
                    <p id="global_title">Configuration Youtube 1</p>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <input id="reconfig_name_youtube01" type="text" placeholder="Nom du widget" />
                        </div>
                        <div class="form-group">
                            <input id="reconfig_youtuber" type="text" placeholder="Nom d'une chaîne Youtube" />
                        </div>
                        <div class="form-group">
                            <input type="number" id="reconfig_timer_youtube01" placeholder="Timer" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="CloseReconfigYoutubeCancel01 link_button">Annulez</button>
                    <button class="CloseReconfigYoutubeValidate01 link_button">Validez</button>
                    <button class="CloseReconfigYoutubeDelete01 link_button">Supprimer</button>
                </div>
            </div>
        </div>

        <div id="reconfig_youtube02" class="modal">
            <div class="modal-content_widget">
                <div class="modal-header">
                    <p id="global_title">Configuration Youtube 2</p>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <input id="reconfig_name_youtube02" type="text" placeholder="Nom du widget" />
                        </div>
                        <div class="form-group">
                            <input id="reconfig_youtube_video" type="text" placeholder="URL d'une vidéo Youtube" />
                        </div>
                        <div class="form-group">
                            <input type="number" id="reconfig_timer_youtube02" placeholder="Timer" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="CloseReconfigYoutubeCancel02 link_button">Annulez</button>
                    <button class="CloseReconfigYoutubeValidate02 link_button">Validez</button>
                    <button class="CloseReconfigYoutubeDelete02 link_button">Supprimer</button>
                </div>
            </div>
        </div>
        <div id="reconfig_youtube03" class="modal">
            <div class="modal-content_widget">
                <div class="modal-header">
                    <p id="global_title">Configuration Youtube 3</p>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <input id="reconfig_name_youtube03" type="text" placeholder="Nom du widget" />
                        </div>
                        <div class="form-group">
                            <input id="reconfig_youtube_video_03" type="text" placeholder="URL d'une vidéo Youtube" />
                        </div>
                        <div class="form-group">
                            <input type="number" id="reconfig_nb_comment" placeholder="Nombre de commentaires" />
                        </div>
                        <div class="form-group">
                            <input type="number" id="reconfig_timer_youtube03" placeholder="Timer" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="CloseReconfigYoutubeCancel03 link_button">Annulez</button>
                    <button class="CloseReconfigYoutubeValidate03 link_button">Validez</button>
                    <button class="CloseReconfigYoutubeDelete03 link_button">Supprimer</button>
                </div>
            </div>
        </div>

        <div id="ConfigMeteo" class="modal">
            <div class="modal-content_widget">
                <div class="modal-header">
                    <p id="global_title">Configuration Météo</p>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <input id="name_meteo" type="text" placeholder="Nom du widget" />
                        </div>
                        <div class="form-group">
                            <input id="ville_meteo" type="text" placeholder="Ville" />
                        </div>
                        <div class="form-group">
                            <input type="number" id="timer_meteo" placeholder="Timer" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="CloseConfigMeteoModalCancel link_button">Annulez</button>
                    <button class="CloseConfigMeteoModalValidate link_button">Validez</button>
                </div>
            </div>
        </div>

        <div id="ConfigSteam01" class="modal">
            <div class="modal-content_widget">
                <div class="modal-header">
                    <p id="global_title">Configuration Steam 1</p>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <input id="name_steam01 type="text" placeholder="Nom du widget" />
                        </div>
                        <div class="form-group">
                            <input id="steam_id01" type="text" placeholder="Steam ID" />
                        </div>
                        <div class="form-group">
                            <input type="number" id="timer_steam01" placeholder="Timer" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="CloseConfigSteam01Cancel link_button">Annulez</button>
                    <button class="CloseConfigSteam01Validate link_button">Validez</button>
                </div>
            </div>
        </div>

        <div id="ConfigSteam02" class="modal">
            <div class="modal-content_widget">
                <div class="modal-header">
                    <p id="global_title">Configuration Steam 2</p>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <input id="name_steam02" type="text" placeholder="Nom du widget" />
                        </div>
                        <div class="form-group">
                            <input id="steam_id02" type="text" placeholder="Steam ID" />
                        </div>
                        <div class="form-group">
                            <input type="number" id="timer_steam02" placeholder="Timer" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="CloseConfigSteam02Cancel link_button">Annulez</button>
                    <button class="CloseConfigSteam02Validate link_button">Validez</button>
                </div>
            </div>
        </div>
        <div id="ConfigTwitch01" class="modal">
            <div class="modal-content_widget">
                <div class="modal-header">
                    <p id="global_title">Configuration Twitch 1</p>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <input id="name_twitch01" type="text" placeholder="Nom du widget" />
                        </div>
                        <div class="form-group">
                            <input id="twitch_streamer" type="text" placeholder="Chaine Twitch" />
                        </div>
                        <div class="form-group">
                            <input type="number" id="timer_twitch01" placeholder="Timer" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="CloseConfigTwitch01Cancel link_button">Annulez</button>
                    <button class="CloseConfigTwitch01Validate link_button">Validez</button>
                </div>
            </div>
        </div>
        <div id="ConfigTwitch02" class="modal">
            <div class="modal-content_widget">
                <div class="modal-header">
                    <p id="global_title">Configuration Twitch 2</p>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <input id="name_twitch02" type="text" placeholder="Nom du widget" />
                        </div>
                        <div class="form-group">
                            <input id="twitch_game" type="text" placeholder="Jeu Twitch" />
                        </div>
                        <div class="form-group">
                            <input type="number" id="timer_twitch02" placeholder="Timer" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="CloseConfigTwitch02Cancel link_button">Annulez</button>
                    <button class="CloseConfigTwitch02Validate link_button">Validez</button>
                </div>
            </div>
        </div>
        <div id="ConfigCrypto" class="modal">
            <div class="modal-content_widget">
                <div class="modal-header">
                    <p id="global_title">Configuration Crypto</p>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group lol">
                            <input id="name_crypto" type="text" placeholder="Nom du widget" />
                        </div>
                        <div class="form-group">
                            <input id="crypto_initial" type="text" placeholder="Monnaie à convertir" />
                        </div>
                        <div class="form-group">
                                <input id="crypto_final" type="text" placeholder="Converti en" />
                        </div>
                        <div class="form-group">
                            <input type="number" id="timer_crypto" placeholder="Timer" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="CloseConfigCryptoCancel link_button">Annulez</button>
                    <button class="CloseConfigCryptoValidate link_button">Validez</button>
                </div>
            </div>
        </div>
        <div id="ConfigYoutube01" class="modal">
            <div class="modal-content_widget">
                <div class="modal-header">
                    <p id="global_title">Configuration Youtube 1</p>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <input id="name_youtube01" type="text" placeholder="Nom du widget" />
                        </div>
                        <div class="form-group">
                            <input id="youtuber" type="text" placeholder="Nom d'une chaîne Youtube" />
                        </div>
                        <div class="form-group">
                            <input type="number" id="timer_youtube01" placeholder="Timer" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="CloseConfigYoutubeCancel01 link_button">Annulez</button>
                    <button class="CloseConfigYoutubeValidate01 link_button">Validez</button>
                </div>
            </div>
        </div>
        <div id="ConfigYoutube02" class="modal">
            <div class="modal-content_widget">
                <div class="modal-header">
                    <p id="global_title">Configuration Youtube 2</p>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <input id="name_youtube02" type="text" placeholder="Nom du widget" />
                        </div>
                        <div class="form-group">
                            <input id="youtube_video" type="text" placeholder="URL d'une vidéo Youtube" />
                        </div>
                        <div class="form-group">
                            <input type="number" id="timer_youtube02" placeholder="Timer" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="CloseConfigYoutubeCancel02 link_button">Annulez</button>
                    <button class="CloseConfigYoutubeValidate02 link_button">Validez</button>
                </div>
            </div>
        </div>
        <div id="ConfigYoutube03" class="modal">
            <div class="modal-content_widget">
                <div class="modal-header">
                    <p id="global_title">Configuration Youtube 3</p>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <input id="name_youtube03" type="text" placeholder="Nom du widget" />
                        </div>
                        <div class="form-group">
                            <input id="youtube_video_03" type="text" placeholder="URL d'une vidéo Youtube" />
                        </div>
                        <div class="form-group">
                            <input type="number" id="nb_comment" placeholder="Nombre de commentaires" />
                        </div>
                        <div class="form-group">
                            <input type="number" id="timer_youtube03" placeholder="Timer" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="CloseConfigYoutubeCancel03 link_button">Annulez</button>
                    <button class="CloseConfigYoutubeValidate03 link_button">Validez</button>
                </div>
            </div>
        </div>
    </div>
<script src="js/dashboard.js"></script>
<script src="js/widgets.js"></script>
</body>
</html>