<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/dashboard.css" />
    <link rel="stylesheet" href="css/header.css" />
</head>
<body>
    <header>
        <div id="header_nav">
            <h2><a class="header_text_title" href="#">Dashboard</a></h2>
            <li id="header_list">
                
            </li>
        </div>
    </header>
    <div id="glob" class="dashboard_glob">

        <div id="widget_menu">
            <div id="widget_list_title">
                <p>Vos widgets</p>
            </div>
            <div id="widget_list">
                <ul id="sortable">
                    <li class="ui-state-default">Widget<i class="fas fa-cog"></i></li>
                </ul>
            </div>
            <div id="widget_list_button">
                <button id="WidgetButton" onclick="trigger_widget_modal()" class="service_button">Widget</button>
            </div>
        </div>

        <div id="widget_div">
            <div id="more_data_service">
                <button id="ServiceButton" class="service_button add_service_button">Mes services</button>
            </div>
            <div id="widget_result">
                    
            </div>
        </div>

        <div id="ServiceModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <p id="global_title">Sélectionner vos services !</p>
                </div>
                <div class="modal-body">
                    <div class="services-global">
                            <div id="service_container">
                                <div class="services" id="meteo_service"><i class="fas fa-sun"></i>Météo<input id="meteo_checkbox" name="meteo_check" type="checkbox"><span onclick="display_meteo()" id="checkmark_meteo" class="checkmark"></span></div>
                                <div class="services" id="steam_service"><i class="fab fa-steam"></i>Steam<input id="steam_checkbox" name="steam_check" type="checkbox"><span onclick="display_steam()" id="checkmark_steam" class="checkmark"></span></div>
                                <div class="services" id="twitch_service"><i class="fab fa-twitch"></i>Twitch<input id="twitch_checkbox" name="twitch_check" type="checkbox"><span onclick="display_twitch()" id="checkmark_twitch" class="checkmark"></span></div>
                                <div class="services" id="crypto_service"><i class="fab fa-bitcoin"></i>Crypto<input id="crypto_checkbox" name="crypto_check" type="checkbox"><span onclick="display_crypto()" id="checkmark_crypto" class="checkmark"></span></div>
                                <div class="services" id="youtube_service"><i class="fab fa-youtube"></i>Youtube<input id="youtube_checkbox" name="youtube_check" type="checkbox"><span onclick="display_youtube()" id="checkmark_youtube" class="checkmark"></span></div>
                                <div class="services" id="starcraft_service"><i class="fas fa-gamepad"></i>StarCraft<input id="stacraft_checkbox" name="starcraft_check" type="checkbox"><span id="checkmark_starcraft" class="checkmark"></span></div>
                                <div class="services" id="epitech_service"><i class="fas fa-address-book"></i>Epitech<input id="epitech_checkbox" name="epitech_check" type="checkbox"><span id="checkmark_epitech" class="checkmark"></span></div>
                            </div>
                        <div id="service_intel_wrap">
                            <div class="service_intel" id="meteo_intel"><p class="widget_intel"><i class="fas fa-caret-right"></i>&nbsp;&nbsp;&nbsp;Widget : Service météo</p><p class="widget_description">Description : x</p></div>
                            <div class="service_intel" id="steam_intel"><p class="widget_intel"><i class="fas fa-caret-right"></i>&nbsp;&nbsp;&nbsp;Widget : Service météo</p><p class="widget_description">Description : x</p></div>
                            <div class="service_intel" id="twitch_intel"><p class="widget_intel"><i class="fas fa-caret-right"></i>&nbsp;&nbsp;&nbsp;Widget : Service météo</p><p class="widget_description">Description : x</p></div>
                            <div class="service_intel" id="crypto_intel"><p class="widget_intel"><i class="fas fa-caret-right"></i>&nbsp;&nbsp;&nbsp;Widget : Service météo</p><p class="widget_description">Description : x</p></div>
                            <div class="service_intel" id="youtube_intel"><p class="widget_intel"><i class="fas fa-caret-right"></i>&nbsp;&nbsp;&nbsp;Widget : Service météo</p><p class="widget_description">Description : x</p></div>
                            <div class="service_intel" id="starcraft_intel"><p class="widget_intel"><i class="fas fa-caret-right"></i>&nbsp;&nbsp;&nbsp;Widget : Service météo</p><p class="widget_description">Description : x</p></div>
                            <div class="service_intel" id="epitech_intel"><p class="widget_intel"><i class="fas fa-caret-right"></i>&nbsp;&nbsp;&nbsp;Widget : Service météo</p><p class="widget_description">Description : x</p></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="ServiceButtonValide" class="CloseServiceModal service_button">Validez</button>
                </div>
            </div>
        </div>  
        <div id="WidgetModal" class="modal">
            <div class="modal-content_widget">
                <div class="modal-header">
                    <p id="global_title">Sélectionner un widget !</p>
                </div>
                <div class="modal-body">
                    <div class="services-global">
                        <div id="widget_container">
                            <div id="meteo_widget_modal">
                            </div>
                            <div id="steam_widget_modal">
                            </div>
                            <div id="twitch_widget_modal">                                        
                            </div>
                            <div id="crypto_widget_modal">
                            </div>
                            <div id="youtube_widget_modal">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="CloseWidgetModal service_button">Validez</button>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="js/dashboard.js"></script>
</body>
</html>