<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Login</title>
    <link rel="stylesheet" type="text/css" href="css/login.css" />
</head>
<body>
<div id="glob">
    <header>
        <div id="header_nav">
            <h2><a href="#">Dashboard</a></h2>
            <li id="header_list">
                <ul><a href="#">First</a></ul>
            </li>
        </div>
    </header>
    <div id="wrap01">
        <h2>Se connecter</h2>
    </div>
    <div id="wrap-form">
        <div id="container-form">
            <form method="post">
                <div class="form-group">
                    <input type="text" placeholder="Votre login" />
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Votre mot de passe" />
                </div>
                <button class="link_button" type="submit"><span>Se connecter</span></button>
            </form>
        </div>
    </div>
</div>
</body>
</html>