<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Créer son compte</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/header.css" />
</head>
<body>
    <header>
        <div id="header_nav">
            <h2><a class="header_text_title" href="#">Dashboard</a></h2>
                <li id="header_list">
                    <ul><a class="header_text_menu" href="#">Pseudo</a></ul>
                    <ul><a class="header_text_menu" href="#">Se déconnecter</a></ul>
                 </li>
         </div>
     </header>
    <div id="glob">
        <div id="wrap01">
            <h2>Créer votre compte</h2>
        </div>
        <div id="wrap-form">
            <div id="container-form">
                <form id="signup_form" method="post">
                    <div class="form-group">
                        <input id="signup_username" name="Username" type="text" required placeholder="Votre login" />
                    </div>
                    <div class="form-group">
                        <input id="signup_email" type="email" required placeholder="Votre email" />
                    </div>
                    <div class="form-group">
                        <input id="signup_pass1" type="password" required placeholder="Votre mot de passe" />
                    </div>
                    <div class="form-group pass2_div">
                        <input id="signup_pass2" type="password" required placeholder="Confirmer votre mot de passe" />
                    </div>
                    <button id="signup_button" class="link_button" type="submit"><span>Créer un compte</span></button>
                </form>
            </div>
        </div>
    </div>
    <script src="js/signup.js"></script>
</body>
</html>