#wrap01 {
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: auto;
    opacity: 1;
    -webkit-animation: fadein 1.5s;
    -moz-animation: fadein 1.5s;
    -o-animation: fadein 1.5s;
    animation: fadein 1.5s;
}

#main_title01 {
    text-align: center;
    font-size: 140px;
    font-family: 'Montserrat', sans-serif;
}

#missing_page01 {
    text-align: center;
    margin-top: -3em;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-moz-keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-ms-keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-o-keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
