#header_nav {
    display: flex;
    justify-content: space-between;
    padding-left: 18%;
    padding-right: 18%;
    background-color: #292A2C;
}

#header_list {
    list-style-type: none;
    display: flex;
    padding-top: 11px;
}

.header_text_title {
    color: white;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.header_text_menu {
    color: rgb(218, 223, 226);    
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition: color ease-in-out 0.3s;
}

.header_text_menu:hover {
    color: white;
    transition: color ease-in-out 0.3s;
}

@media screen and ( max-width: 1250px ) {
    #header_nav {
        padding-right: 4%;
        padding-left: 4%;
    }
}